.completed{
  text-decoration: line-through;
  color: #686868
}

.novalue{
  color: #909090
}

table{
  max-width: 100%;
}

.col-id{
  width: 4%;
  text-align: center;
}

.col-title{
  width: 40%;
}

.col-priority{
  width: 10%;
}

.col-category{
  width: 10%;
}

.col-select{
  width: 3%;
}

.col-operations{
  width: 8%;
}

.col-color{
 width: 1% !important;
}
