<mat-dialog-content>

  <p class="mt-5 text-center" mat-dialog-title>{{dialogTitle}}</p>

  <mat-form-field>

    <mat-label>Название (обязательно)</mat-label>
    <input
      #inputTitle
      matInput
      [(ngModel)]="categoryTitle"
      (keydown.enter)="onConfirm()"
    >

    <button
      *ngIf="categoryTitle.trim().length > 0"
      mat-button matSuffix mat-icon-button aria-label="Clear"
      (click)="categoryTitle=''"
      class="dialog-task-title"
    >
      <mat-icon>clear</mat-icon>

    </button>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>

  <div class="col-12 text-center">
    <button
      mat-raised-button color="primary"
      (click)="onConfirm()"
      [disabled]="inputTitle.value.trim().length == 0"
    >
      Сохранить
    </button>

    <button
      mat-raised-button (click)="onCancel()"
    >
      Отмена
    </button>
  </div>

  <div class="col-12 text-center">
    <button
      mat-raised-button
      color="warn"
      (click)="onDelete()"
    >
      Удалить
    </button>
  </div>

</mat-dialog-actions>
