<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <span class="nav-title">Категории</span>

    <span class="add-icon-area">
      <button mat-icon-button class="add-icon">
        <mat-icon>add</mat-icon>
      </button>
    </span>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item pointer"
        (click)="showTasksByCategory(null)"
          [class.active]="selectedCategory === null"
      >
        <a class="nav-link">
          <span class="all-category-title">Все</span>
        </a>
      </li>
      <li class="nav-item pointer"
          *ngFor="let category of categories; let index = index"
          (click)="showTasksByCategory(category)"
          [class.active]="category === selectedCategory"
          (mouseleave)="showEditIcon(null)"
          (mouseenter)="showEditIcon(index)"
      >
        <a class="nav-link">
          <span class="category-title">{{ category.title }}</span>

          <span class="edit-category-icon-area">
            <mat-icon
              *ngIf="indexMouseMove === index"
              (click)="$event.stopPropagation(); openEditDialog(category)"
              class="edit-category-icon"
            >
              edit
            </mat-icon>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
